{% include "header.html"  %}
    <div class="heading">
        <h2>HPE OneView Remote Support Details</h2>
    </div>
    <br>
    <div class="heading">
        <h3>Remote Support Configuration Status Details</h3>
    </div>
    <table>
        <tr>
            <th>Category</th>
            <th>Company Name</th>
            <th>Marketing Opt In</th>
            <th>Auto Enable Device For RS</th>
            <th>Remote Support Enabled</th>
            <th>Email Notification</th>
            <th>Global Custom Delivery</th>
        </tr>
        <tr>
            <td>{{ rs_data['category'] }}</td>
            <td>{{ rs_data['companyName'] }}</td>
            <td>{{ rs_data['marketingOptIn'] }}</td>
            <td>{{ rs_data['autoEnableDevices'] }}</td>
            <td>{{ rs_data['enableRemoteSupport'] }}</td>
            <td>{{ rs_data['enableEmailNotification'] }}</td>
            <td>{{ rs_data['globalCustomDeliveryId'] }}</td>
        </tr>
    </table>
    <br>
    <div class="heading">
        <h3>Remote Support Registration Information</h3>
    </div>
    <table>
        <tr>
            <th>Category</th>
            <th>Connected To HPE</th>
            <th>Appliance Registered</th>
        </tr>
        <tr>
            <td>{{ registration_data['category'] }}</td>
            <td>{{ registration_data['connected'] }}</td>
            <td>{{ registration_data['registered'] }}</td>
        </tr>
    </table>
<br>
<hr>
<div class="container-sub-header">
    <h3><a href="{{ url_for('ilo') }}">Click To Discover More</a></h3>
</div>
{% include "footer.html" %}

<!-- {
    "type":"Configuration",
    "category":"support",    
    "companyName":"",
    "marketingOptIn":false,
    "autoEnableDevices":true,
    "enableRemoteSupport":false,
    "enableEmailNotification":false,
    "globalCustomDeliveryId":"",

} -->