@font-face{
  font-family:"Metric";
  src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff2") 
  format("woff2"), 
  url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff") 
  format("woff")
}
@font-face{
  font-family:"Metric";
  src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff2") 
  format("woff2"), 
  url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff") 
  format("woff")
}
@font-face{
  font-family:"Metric";
  src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Bold.woff2") 
  format("woff2"), 
  url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Bold.woff") 
  format("woff");
  font-weight:700
}
@font-face{
  font-family:"Metric";
  src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSSemibold-Regular.woff2") 
  format("woff2"), 
  url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSSemibold-Regular.woff") 
  format("woff");
  font-weight:600
}
@font-face{
  font-family:"Metric";
  src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSMedium-Regular.woff2") 
  format("woff2"), 
  url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSMedium-Regular.woff") 
  format("woff");
  font-weight:500
}
@font-face{
  font-family:"Metric";
  src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSLight-Regular.woff2") 
  format("woff2"), 
  url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSLight-Regular.woff") 
  format("woff");
  font-weight:100
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Metric, Arial, sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

h1 {
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: Metric, Arial, sans-serif;
}

body {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}

.heading {
  display: flex;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.container {
  max-width: 95vw;
  padding: 2rem 2rem;
  margin: 0 auto;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}

/* headers */
.header-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.side-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.image-container {
  height: 25px;
  width: 25px;
}

.sub-header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin: 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.navigation-utils {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
  align-items:center;
  gap: 1rem;
}
.container-header{
  margin: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
/* cards */
.main-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.card_image {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}
.card_image_container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid grey; */
  border-radius: 10px;
  border: solid 1px lightgrey;
  

}
.card-container:hover {
  /* transform:scale(1.1); */
  transition-duration: 200ms;
  box-shadow: 10px 10px 20px lightgrey;
}

.card_title_container{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.card_title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
  color: rgb(19, 17, 17);
}

.card_footer_container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.card_tag_container{
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid #17EBA0;
  line-height: 1.5rem;
  border-radius: 10px;
  padding: 0.2rem 0.2rem;
}
.button {
  /* background-color: #17EBA0; */
  background-color: #01A982;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
}

/* footer */
.copy-rights {
  margin: 1rem;
}

/* ---------- For CMDB Component ----------- */
/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
padding: 8px;
text-align: left;
border-top: 2px solid #27c57b;
border-bottom: 2px solid #27c57b;
}
td {
padding: 8px;
text-align: left;
}
.vir-container{
  overflow-x: auto;
}


/* -------------- For Compliance -----------*/
/* charts */
.charts {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 60px;
  gap: 20px;
}

.charts-card {
  border-radius: 5px;

}

.cis-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 95vw;
  padding: 2rem 2rem;
  margin-top: 0 auto;
}

/*------- vCenter Cards -----------*/
.vcenter-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: space-around;
  border-radius: 10px;
  border: 2px solid #17EBA0;
}

.card:hover {
  /* transform:scale(1.1); */
  box-shadow: 10px 10px 20px lightgrey;
  transition-duration: 200ms;
}

.card.card:click {
  border: 10px solid #17EBA0;
}

.card-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-inner > .material-icons-outlined {
  font-size: 45px;
}

/* Dots */

.dot-gray {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: lightgreen;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
}

/*---- Storage -------*/
.container-sub-header{
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.storage-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
}

/*------ Forms ------*/
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 75%;
  margin-top: 3px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}