<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HPE Managed Services</title>
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <!-- <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"> -->
    <link href="static/css/styles.css" rel="stylesheet">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
</head>
<body class="body-container">
    <div class="header-container">
        <div class="image-container">
            <img src="static/images/hpe-logo.png" alt="hpe-logo" width="100" height="40">
        </div>
        <div class="side-container">
            <span class="material-icons-outlined">help_center</span>
            <span class="material-icons-outlined">grid_view</span>
        </div>
    </div>
    <hr>
    <div class="sub-header">
        <div class="services">
            <h3>HPE Managed Services</h3>
            <p>Managed Services Platform</p>
        </div>
        <div class="navigation-utils">

            <h3><a href="/">Dashboard</a></h3>
            
            <span class="material-icons-outlined">build</span>
            <span class="material-icons-outlined">person</span>

        </div>
    </div>
    <hr>
