{% include "header.html" %}
    <div class="container-header">
        <h1>CMDB - Storage</h1>
    </div>
    <hr>
    <div class="container-sub-header">
        <h3><a href="/nimble_main">Nimble</a></h3>
        <h3><a href="/alletra9k_main">Alletra 9000</a></h3>
        <h3><a href="/alletra6k_main">Alletra 6000</a></h3>
        <h3><a href="/threepar_main">3-Par</a></h3>
        <h3><a href="/storeonce_main">Store Once</a></h3>
        <h3><a href="/qumulo_main">Qumulo</a></h3>
        <h3><a href="/weka_main">Weka</a></h3>
        <h3><a href="/scality_main">Scality</a></h3>
    </div>
    <hr>